<!DOCTYPE html>
<html ng-app="BaseApp">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Bizprout</title>
<link type="text/css" rel="stylesheet"
	href="css/angular/angular_material.css">
<link type="text/css" rel="stylesheet" href="css/angular/mdPickers.css">
<link type="text/css" rel="stylesheet"
	href="css/bootstrap/bootstrap.css" />
<link type="text/css" rel="stylesheet"
	href="css/bootstrap/custom-styles.css" />
<link type="text/css" rel="stylesheet"
	href="css/bootstrap/font-awesome.css" />
<link type="text/css" rel="stylesheet" href="css/bootstrap/form.css" />
<link type="text/css" rel="stylesheet"
	href="css/bootstrap/bootstrap-select.min.css" />
<link type="text/css" rel="stylesheet" href="css/bootstrap/chosen.css" />
<link type="text/css" rel="stylesheet" href="css/jquery/multiselect.css" />
<link type="text/css" rel="stylesheet" href="css/angular/jqCron.css" />
<link type="text/css" rel="stylesheet"
	href="css/bootstrap/bootstrap-datepicker3.min.css" />
<link type="text/css" rel="stylesheet" href="css/bootstrap/styles.css" />
<link type="text/css" rel="stylesheet"
	href="css/angular/fileuploader.css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
	rel="stylesheet">
<!--font-family: 'Montserrat', sans-serif;-->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i"
	rel="stylesheet">
<!-- <link rel="stylesheet"
	href="css/bootstrap/fonts_googleapis_materialicons.css">
 -->
<script type="text/javascript" src="js/jquery/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript"
	src="js/bootstrap/bootstrap-select.min.js"></script>
<script type="text/javascript" src="js/bootstrap/multiselect.js"></script>
<script type="text/javascript" src="js/angular/xlsx.full.min.js"></script>
<!--Header starts here-->
<!-- Header Ends Here -->
</head>
<body class="Site">
	<nav ng-controller="MainController"
		class="navbar-wrapper navbar-default navbar-fixed-top"
		role="navigation">
		<div class="headers">
			<div class="logo">
				<a target="_blank" href="http://www.perpetuitypartners.com/"><img
					src="img/pp.png" alt="Bizprout Logo" /></a>
			</div>
			<div id="menu">
				<div class="menu-button closed" title="Menu">
					<span class="menu-bar first"></span> <span class="menu-bar second"></span>
					<span class="menu-bar third"></span>
				</div>
				<div class="static-menu-button" title="Menu"
					onclick="$(this).hide();
                            $('.menu-button').click();">
					<span class="menu-bar first"></span> <span class="menu-bar second"></span>
					<span class="menu-bar third"></span>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<!-- <li class=""><a href="#home">Main Menu</a></li>
						<li class=""><a href="#changepassword">Change Password</a></li>
						<li class=""><a ng-href="" ng-click="logoutsess(e)">Logout</a></li> -->
						<button type="button" class="btn btn-default"
							ng-click="mainmenu()"
							style="margin-top: 7px; width: 120px; margin-right: 5px;border-color: white;">
							<span class="glyphicon glyphicon-home"></span> Main Menu
						</button>
						<button type="button" class="btn btn-default" ng-click="changpass()"
							style="margin-top: 7px; width: 165px; margin-right: 5px;border-color: white;">
							<span class="glyphicon glyphicon-lock"></span> Change Password
						</button>
						<button type="button" class="btn btn-default" ng-click="logrepo()"
							style="margin-top: 7px; width: 120px; margin-right: 5px;border-color: white;">
							<span class="glyphicon glyphicon-list-alt"></span> Log Report
						</button>						
						<button type="button" class="btn btn-default" ng-click="logoutsess()"
							style="margin-top: 7px;border-color: white;">
							<span class="glyphicon glyphicon-off"></span> Logout
						</button>
					</ul>
				</div>
			</div>
			<div class="clearfix" style="border-top: #aec827 0.5px solid;"></div>
		</div>
	</nav>
	<div class="Site-content" ng-view></div>
	<footer
		style="border-top: #aec827 0.5px solid; border-bottom: #aec827 0.5px solid;">
		<a href='http://www.bizprout.com' target='_blank'> <img
			align='left'
			style='width: 140px; height: 36px; margin-top: 2px; margin-left: 30px;'
			src='img/logo_biz.png' alt='' />
		</a> <span id='inner' style='float: right; color: black;'>
			Perpetuity Tally Web<br> &#169;&nbsp;Bizprout Corporate
			Solutions Pvt. Ltd.&nbsp;
		</span>
	</footer>
	<script type="application/javascript" src="js/angular/angular.js"></script>
	<script type="application/javascript" src="js/angular/angular-route.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/angular-http-auth/1.5.0/http-auth-interceptor.js"></script>
	<script type="text/javascript"
		src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
	<script type="application/javascript" src="js/app/app.js"></script>
	<script type="application/javascript" src="js/app/config.js"></script>
	<script type="application/javascript" src="js/angular/dirPagination.js"></script>
	<script type="application/javascript" src="js/app/MainController.js"></script>
	<script type="application/javascript" src="js/app/LoginController.js"></script>
	<script type="application/javascript" src="js/app/AddEditController.js"></script>
	<script type="application/javascript" src="js/app/UserController.js"></script>
	<script type="application/javascript" src="js/app/ClientController.js"></script>
	<script type="application/javascript"
		src="js/app/ChangePasswordController.js"></script>
	<script type="application/javascript"
		src="js/app/MasterPageController.js"></script>
	<script type="application/javascript"
		src="js/app/MappingPageController.js"></script>
	<script type="application/javascript" src="js/app/LandingController.js"></script>
	<script type="application/javascript"
		src="js/app/TallyMappingController.js"></script>
	<script type="application/javascript" src="js/app/ReportController.js"></script>
	<script type="application/javascript"
		src="js/app/UserMappingController.js"></script>
	<script type="application/javascript"
		src="js/app/PPMasterController.js"></script>
	<script type="application/javascript"
		src="js/app/CompanyMasterController.js"></script>
	<script type="application/javascript" src="js/app/LogReportController.js"></script>	
	<script type="application/javascript" src="js/bootstrap/bsDropdown.js"></script>
	<script src="js/jquery/chosen.jquery.js" type="text/javascript"></script>
	<script src="docsupport/prism.js" type="text/javascript"
		charset="utf-8"></script>
	<script type="text/javascript"
		src="js/bootstrap/bootstrap-datepicker.min.js"></script>
	<script src="js/bootstrap/jqCron.js"></script>
	<script src="js/bootstrap/jqCron.en.js"></script>
	<script src="js/angular/customSelect.js"></script>
	<script src="js/angular/moment.js"></script>
	<script src="js/angular/mdPickers.js"></script>
	<script src="js/angular/FileSaver.js" type="text/javascript"></script>
	<script src="js/angular/angular-bootstrap-multiselect.min.js"></script>
	<script src="js/angular/angular-material-icons.min.js"></script>
	<script src="js/angular/angular-animate.min.js"></script>
	<script src="js/angular/angular-aria.min.js"></script>
	<script src="js/angular/angular-messages.min.js"></script>
	<script src="js/angular/angular-material.min.js"></script>
	<script src="js/angular/fileuploader.js"></script>
	<script src="js/angular/angular-storage.js"></script>
</body>
</html>
