        <script type="text/javascript">
            $(document).ready(function () {
                $('.submenu-button-open').click(function () {
                    $('.submenu-container').animate({
                        left: '0px'
                    }, 700);
                    $('body').css('overflow', 'hidden');
                });

                $('.submenu-button-close').click(function () {
                    $('.submenu-container').animate({
                        left: '-250px'
                    }, 700);
                    $('body').css('overflow', 'auto');
                });

                $('#cu_user_type').selectpicker({
                    style: 'btn-info'
                });

            });
        </script>

        <div class="dashboard-page">
            <div class="right" style="margin-left:100px;">
                <div class="heading">
                    <div class="path">Users</div>
                    <div class="text">New User</div>
                </div>
                <div class="cu-section">
                    <form id="cu-form" action="" method="post" name="usercreate" enctype="multipart/form-data">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="cu-section-content">
                                    
                                    <label class="radio-inline"><input type="radio" name="change_screen" ng-model="adduser" value="Add" ng-checked="(adduser == Add)" ng-click="routedirect('Add')">Add User</label>
						   		    <label class="radio-inline"><input type="radio" name="change_screen" ng-model="edituser" value="Edit" ng-click="routedirect('Edit')">Edit User</label>							
                                  								                            	
									<br><br>
									
									<div id="add" ng-show="showadd">									
									
									<span>Username:</span>
									 <input type="text" name="username" id="username" ng-model="username" class="form-control" required placeholder="Username" autofocus>									 
									 
									 <span>Password:</span>
									 <input type="Password" name="password" id="password" ng-model="password" class="form-control" required placeholder="Password" autofocus>
									 
									 <span>User Type:</span><br>
									 <!-- <select class="btn btn-default dropdown-toggle" ng-model="usertypemodel">
									<option ng-repeat="x in usertypes" value="{{x.id}}">{{x.name}}</option>
									</select> -->
									<div bs-dropdown 
									 bs-dropdown-items="usertypes" 
									 bs-dropdown-item-disabled="{{[0]}}" 
									 ng-model="usertypemodel" 
									 bs-dropdown-display="User Type" 
									 ng-change="usertype()"></div><br>		
									 
									 <span>User Status:</span><br>
									 <div bs-dropdown 
									 bs-dropdown-items="userstatusses"
									 ng-model="userstatusmodel" 
									 bs-dropdown-display="User Status" 
									 ></div>							 
									 
									
									<!--  <select class="selectpicker" id="usertype" name="usertype">
									 <option selected disabled>User Type</option>
									  <option>PP Admin</option>
									  <option>PP SuperAdmin</option>
									 </select><br> -->
									 
									 <!-- <span>User Status:</span><br>
									 <select class="selectpicker" id="userstatus" name="userstatus">
									 <option selected disabled>User Status</option>
									  <option selected>Active</option>
									  <option>InActive</option>
									 </select> -->
									 
									 <br/><br/>
									
									 <button type="button" class="btn btn-success" ng-click="createuser(username,password,usertypemodel,userstatusmodel)">Create</button>									
									 <button type="button" class="btn btn-success">Report</button>									
									 <button type="button" class="btn btn-success">Cancel</button>
									 <a href="#masters" class="btn btn-success">Back</a>            
									 </div>           
									 
									<div id="edit" ng-show ="showedit">
									
									<span>Select Username:</span><br>
									 <div bs-dropdown 
									 bs-dropdown-items="usernames" 
									 bs-dropdown-item-disabled="{{[0]}}" 
									 ng-model="usernamesmodel" 
									 bs-dropdown-display="Select Username" 
									 ></div><br>
									<!--  <select class="selectpicker" id="sel_username" name="sel_username">
									 <option selected disabled>Username</option>
									  <option>Rishwanth</option>
									  <option>Banesh</option>
									 </select><br> -->
									 
									<span>User Type:</span><br>
									<div bs-dropdown 
									 bs-dropdown-items="usertypes" 
									 bs-dropdown-item-disabled="{{[0]}}" 
									 ng-model="usertypemodel" 
									 bs-dropdown-display="User Type" 
									 ></div><br>
									 <!-- <select class="selectpicker" id="usertype" name="usertype">
									 <option selected disabled>User Type</option>
									  <option>PP Admin</option>
									  <option>PP SuperAdmin</option>
									 </select><br> -->
									 
									 <span>User Status:</span><br>
									  <div bs-dropdown 
									 bs-dropdown-items="userstatusses"
									 ng-model="userstatusmodel" 
									 bs-dropdown-display="User Status" 
									 ></div>	
									 <!-- <select class="selectpicker" id="userstatus" name="userstatus">
									 <option selected disabled>User Status</option>
									  <option selected>Active</option>
									  <option>InActive</option>
									 </select> -->
									 
									 <br/><br/>
									
									 <button type="button" class="btn btn-success" ng-click="edituser(usernamesmodel,usertypemodel,userstatusmodel)">Edit</button>									
									 <button type="button" class="btn btn-success">Report</button>									
									 <button type="button" class="btn btn-success">Cancel</button>
									 <a href="#masters" class="btn btn-success">Back</a>            
									 </div>                   
									 <br>
									 <h3>{{result}}</h3>
									   	
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        
        <script type="text/javascript">
var config = {
'.chosen-select': {},
'.chosen-select-deselect': {allow_single_deselect: true},
'.chosen-select-no-single': {disable_search_threshold: 10},
'.chosen-select-no-results': {no_results_text: 'Oops, nothing found!'},
'.chosen-select-width': {width: "95%"}
}
for (var selector in config) {
$(selector).chosen(config[selector]);
}
        </script>
