<div class="dashboard-page">
	<div class="right" style="margin-left: 100px;">
		<div class="heading">
			<ol class="breadcrumb">
				<li><a href="#home">Home</a></li>
				<li><a href="#masters">Masters</a></li>
				<li class="active">PP Master</li>
			</ol>
			<p style="text-align: center; margin-bottom: -24px;">
				<b>Company:</b> {{cmpname}}
			</p>
			<div class="text">PP Masters</div>
		</div>
		<div class="cu-section">
			<div class="container-fluid">
				<md-progress-linear md-mode="indeterminate"
					ng-show="isLoadingresponse"></md-progress-linear>
				<div ng-class="'alert alert-' + (alerts.type || 'warning')"
					ng-show="showSuccessAlert">
					<button type="button" class="close"
						data-ng-click="switchBool('showSuccessAlert')">x</button>
					<strong>{{alerts.msg}}</strong>
				</div>
			</div>
			<div ng-class="'alert alert-' + (alerts.type || 'warning')"
				ng-show="showerror">
				<button type="button" class="close"
					data-ng-click="switchBool('showerror')">x</button>
				<ul>
					<strong><li ng-repeat="err in errdata">{{err}}</li></strong>
				</ul>
			</div>
			<div ng-cloak>
				<md-content> <md-tabs md-border-bottom
					style="min-height:410px;"> <md-tab label="Create"
					md-on-select="oncreateclick()"> <md-content
					class="md-padding"> <md-progress-circular
					md-mode="indeterminate" md-diameter="20px"
					ng-show="isLoadingmastertype"></md-progress-circular>
				<div class="row">
					<div class="col-xs-3">
						<span>Master Type:</span><span
							style="color: red; font-size: 20px;">*</span><br>
						<div
							custom-select="mt for mt in mastertypes |  filter: $searchTerm"
							custom-select-options="mastertypeselectOptions"
							ng-change="mastertypechanged()" ng-model="ppmasterDTO.mastertype"
							autofocus></div>
					</div>
					<div class="col-xs-1">
						<md-progress-circular md-mode="indeterminate" md-diameter="20px"
							ng-show="isLoadingmastertype"></md-progress-circular>
					</div>
					<div class="col-xs-3">
						<span>{{ppmasternamelabel}} Name:</span><span
							style="color: red; font-size: 20px;">*</span>
						<input type="text" name="pp_mastername" id="pp_mastername"
							ng-model="ppmasterDTO.ppmastername" class="form-control"
							placeholder="{{ppmasternamelabel}} Name" required autofocus
							style="width: 346px;">
					</div>
				</div>
				<div class="row" ng-hide="hidecostcat">
					<br>
					<div class="col-xs-3">
						<span>Select Category:</span><span
							style="color: red; font-size: 20px;">*</span><br>
						<div
							custom-select="ccat for ccat in categories |  filter: $searchTerm"
							custom-select-options="catselectOptions"
							ng-change="oncategorychange()" ng-model="ppmasterDTO.category"
							autofocus></div>
					</div>
					<div class="col-xs-1">
						<md-progress-circular md-mode="indeterminate" md-diameter="20px"
							ng-show="isLoadingcat"></md-progress-circular>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-3">
						<span>PP Parent Name:</span> <span
							style="color: red; font-size: 20px;">*</span><br>
						<div
							custom-select="pppn for pppn in ppparentnames |  filter: $searchTerm"
							custom-select-options="ppparentnameselectOptions" ng-change=""
							ng-model="ppmasterDTO.ppparentname" autofocus></div>
					</div>
					<div class="col-xs-1">
						<md-progress-circular md-mode="indeterminate" md-diameter="20px"
							ng-show="isLoadingppparentname"></md-progress-circular>
					</div>
				</div>
				<br />
				<br />
				<div class="row">
					<div class="col-xs-5">
						<button submit-button type="button"
							ng-click="createppmasters(ppmasterDTO)" class="btn btn-success">Create</button>
						<button type="reset" ng-click="clear()" class="btn btn-success">Clear</button>
						<a href="#masters" class="btn btn-success">Back</a>
					</div>
				</div>
				</md-content> </md-tab> <md-tab label="Edit" md-on-select="oneditclick()"> <md-content
					class="md-padding">
				<div class="row">
					<div class="col-xs-4">
						<span>Master Type:</span><span
							style="color: red; font-size: 20px;">*</span><br>
						<div
							custom-select="mt for mt in mastertypes |  filter: $searchTerm"
							custom-select-options="mastertypeselectOptions"
							ng-model="editppmasterDTO.mastertype"
							ng-change="getppmasternamelist()" autofocus></div>
					</div>
					<div class="col-xs-3">
						<span>Select {{editppmasternamelabel}} Name:</span><span
							style="color: red; font-size: 20px;">*</span><br>
						<div
							custom-select="emt for emt in eppmasternames |  filter: $searchTerm track by $index"
							custom-select-options="ppmasternameselectOptions"
							ng-change="ppmasternamechange()"
							ng-model="editppmasterDTO.ppmastername" autofocus></div>
					</div>
					<div class="col-xs-1">
						<md-progress-circular md-mode="indeterminate" md-diameter="20px"
							ng-show="isLoadingeditselectppmastername"></md-progress-circular>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-3">
						<span>Edit {{editppmasternamelabel}} Name:</span><span
							style="color: red; font-size: 20px;">*</span>
						<input type="text" name="pp_mastername" id="pp_mastername"
							ng-model="editppmasterDTO.editppmastername" class="form-control"
							placeholder="PP Master Name" required autofocus
							style="width: 346px;">
					</div>
					<div class="col-xs-1">
						<md-progress-circular md-mode="indeterminate" md-diameter="20px"
							ng-show="isLoadingeditppmastername"></md-progress-circular>
					</div>
					<div ng-hide="hidecostcat">
						<div class="col-xs-3">
							<span>Select Category:</span><span
								style="color: red; font-size: 20px;">*</span><br>
							<div
								custom-select="ccat for ccat in categories |  filter: $searchTerm"
								custom-select-options="catselectOptions"
								ng-change="oneditcategorychange()"
								ng-model="editppmasterDTO.category" autofocus></div>
						</div>
						<div class="col-xs-1">
							<md-progress-circular md-mode="indeterminate" md-diameter="20px"
								ng-show="isLoadingselecteditcategory"></md-progress-circular>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-4">
						<span>PP Parent Name:</span><span
							style="color: red; font-size: 20px;">*</span><br>
						<div
							custom-select="pppn for pppn in ppparentnames |  filter: $searchTerm track by $index"
							custom-select-options="ppparentnameselectOptions" ng-change=""
							ng-model="editppmasterDTO.ppparentname" autofocus></div>
					</div>
					<div class="col-xs-1">
						<md-progress-circular md-mode="indeterminate" md-diameter="20px"
							ng-show="isLoadingeditppparentname"></md-progress-circular>
					</div>
				</div>
				<br />
				<br />
				<div class="row">
					<div class="col-xs-5">
						<button type="button" class="btn btn-success"
							ng-click="editppmasters(editppmasterDTO)">Edit</button>
						<button type="clear" ng-click="eclear()" class="btn btn-success">Clear</button>
						<a href="#masters" class="btn btn-success">Back</a>
					</div>
				</div>
				</md-content> </md-tab> <md-tab label="Import/ Export" md-on-select="onimpexpclick()">
				<md-content class="md-padding"> <!-- <form method="POST" action="ppmaster/ppmasteruploadfile" enctype="multipart/form-data"> -->
				<div class="row">
					<div class="col-xs-12">
						<div class="fileupload fileupload-new" data-provides="fileupload">
							<span class="btn btn-primary btn-file"><span
								class="fileupload-new">Select file</span> <span
								class="fileupload-exists">Change</span> <input type="file"
									file-model="myFile"
									accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
									name="file" /></span> <span class="fileupload-preview"></span> <a
								href="#" id="fileuploadclose" class="close fileupload-exists"
								data-dismiss="fileupload" style="float: none">x</a>
						</div>
						<md-progress-circular md-mode="indeterminate" md-diameter="20px"
							ng-show="isLoadingimportfile"></md-progress-circular>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-xs-5">
						<button type="button" class="btn btn-success"
							ng-click="ppmasterimport(ppfile)">Upload</button>
						<button type="button" class="btn btn-success"
							ng-click="exportppformat()">Export</button>
						<a href="#masters" class="btn btn-success">Back</a>
					</div>
				</div>
				<!-- </form> -->
				<div id="ppexcelexport" ng-hide="true">
					<b>Upload Format for Creating PP Masters</b><br> <b>Company
						Name: {{cmpname}}</b><br> <i>Category to be entered only for
						Master Type: Cost Center</i>
					<table border="1">
						<tr>
							<th>Master Type</th>
							<th>PP Master Name</th>
							<th>Category</th>
							<th>PP Parent Name</th>
						</tr>
					</table>
				</div>
				</md-content> </md-tab> <md-tab label="Report" md-on-select="onreportclick()"> <md-content
					class="md-padding">
				<div class="row">
					<div class="col-xs-3" style="padding-left: 32px;">
						<span>Master Type:</span><br>
						<div
							custom-select="mt for mt in mastertypes |  filter: $searchTerm"
							custom-select-options="mastertypeselectOptions"
							ng-change="repomastertypechanged()" ng-model="repomastertype"
							autofocus></div>
					</div>
				</div>
				<br>
				<div class="col-lg-12">
					<form class="form-inline">
						<div class="form-group">
							<input type="text" ng-model="search" class="form-control"
								placeholder="Search">
							<button style="margin-left: 50px;" ng-click="exportData()"
								class="btn btn-success">Export</button>
						</div>
					</form>
					<br>
					<div id="exportable">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th ng-click="sort('slno')">Sl.&nbsp;No.<span
										class="glyphicon sort-icon" ng-show="sortKey=='slno'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
									</th>
									<th ng-click="sort('mastertype')">Master&nbsp;Type<span
										class="glyphicon sort-icon" ng-show="sortKey=='mastertype'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
									</th>
									<th ng-click="sort('ppmastername')">PP&nbsp;Master&nbsp;Name<span
										class="glyphicon sort-icon" ng-show="sortKey=='ppmastername'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
									</th>
									<th ng-click="sort('ppparentname')">PP&nbsp;Parent&nbsp;Name<span
										class="glyphicon sort-icon" ng-show="sortKey=='ppparentname'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
									</th>
									<th ng-click="sort('category')">Category<span
										class="glyphicon sort-icon" ng-show="sortKey=='category'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr
									dir-paginate="ppdata in ppmasterdata|orderBy:sortKey:reverse|filter:search|itemsPerPage:5"
									current-page="currentPage">
									<td>{{itemsPerPage * (currentPage-1)+$index+1}}</td>
									<td>{{ppdata.mastertype}}</td>
									<td>{{ppdata.ppmastername}}</td>
									<td>{{ppdata.ppparentname}}</td>
									<td>{{ppdata.category}}</td>
								</tr>
							</tbody>
							<md-progress-circular md-mode="indeterminate" md-diameter="40px"
								ng-show="isLoading"></md-progress-circular>
						</table>
					</div>
					<div id="exportableall" ng-hide="true">
						<table border="1">
							<b>Perpetuity - PP Masters Report</b>
							<br>
							<b>Company: {{cmpname}}</b>
							<br>
							<b>List of PP Masters: {{repomastertype}}</b>
							<br />
							<br>
							<thead>
								<tr>
									<th style="text-align: left;">Sl.&nbsp;No.</th>
									<th style="text-align: left;">Master&nbsp;Type</th>
									<th style="text-align: left;">PP&nbsp;Master&nbsp;Name</th>
									<th style="text-align: left;">PP&nbsp;Parent&nbsp;Name</th>
									<th style="text-align: left;">Category</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="ppdata in ppmasterdata">
									<td style="text-align: left;">{{$index+1}}</td>
									<td style="text-align: left;">{{ppdata.mastertype}}</td>
									<td style="text-align: left;">{{ppdata.ppmastername}}</td>
									<td style="text-align: left;">{{ppdata.ppparentname}}</td>
									<td style="text-align: left;">{{ppdata.category}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<dir-pagination-controls max-size="5" direction-links="true"
						boundary-links="true"> </dir-pagination-controls>
					<br> <a style="margin-bottom: 65px;" href="#masters"
						class="btn btn-success">Back</a>
				</div>
				</md-content> </md-tab> </md-tabs> </md-content>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
</div>