
<div class="dashboard-page">
	<div class="right" style="margin-left: 100px;">
		<div class="heading">
			<!-- <div class="path">Tally Database Mapping to Company</div> -->
			<p style="text-align: center; margin-bottom: -24px;">
				<b>Company:</b> {{cmpname}}
			</p>
			<div class="text">Company</div>
		</div>
		<div class="cu-section">
			<div class="container-fluid">
				<div ng-class="'alert alert-' + (alerts.type || 'warning')"
					ng-show="showSuccessAlert">
					<button type="button" class="close"
						data-ng-click="switchBool('showSuccessAlert')">x</button>
					<strong>{{alerts.msgtype}}</strong> {{alerts.msg}}
				</div>
			</div>
			<div ng-class="'alert alert-' + (alerts.type || 'warning')"
				ng-show="showerror">
				<button type="button" class="close"
					data-ng-click="switchBool('showerror')">x</button>
				<ul>
					<strong>{{alerts.msgtype}}</strong>
					<li ng-repeat="err in errdata">{{err}}</li>
				</ul>
			</div>
			<div ng-cloak>
				<md-content> <md-tabs md-border-bottom> <md-tab
					label="Update" md-on-select="oncreateeditclick()"> <md-content
					class="md-padding">
				<div class="row">
					<div class="col-xs-4">
						<span>Select Company:</span><br>
						<div
							custom-select="cmp.cmpId as cmp.tallyCmpName for cmp in companylist |  filter: $searchTerm"
							custom-select-options="companyselectOptions"
							ng-model="companyDTO.tallyCmpName" disabled="compdisable" autofocus></div>
					</div>
					<div class="col-xs-5">
						<span>Tally GUID:</span><br>
						<input type="text" ng-model="companyDTO.tallyGUID"
							class="form-control" ng-copy="$event.preventDefault()" required
							placeholder="Tally GUID" style="width: 104%;" disabled autofocus>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-4">
						<span>Select Client:</span><br>
						<div
							custom-select="clt.clientId as clt.clientName for clt in clientnames |  filter: {clientName: $searchTerm} track by clt.clientId"
							custom-select-options="clientselectOptions"
							ng-model="companyDTO.clientId" disabled="clientdisable" autofocus></div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-3">
						<span>Sync Date From:</span><br>
						<md-datepicker ng-model="companyDTO.appFromDate"
							md-placeholder="Sync Date From" md-open-on-focus></md-datepicker>
					</div>
					<div class="col-xs-3">
						<span>Upload Timer:</span>
						<mdp-time-picker mdp-auto-switch="true"
							ng-model="companyDTO.uploadTimer"></mdp-time-picker>
					</div>
					<div class="col-xs-4" style="width: 25%;">
						<span>Download Timer:</span>
						<mdp-time-picker mdp-auto-switch="true"
							ng-model="companyDTO.dnldTimer"></mdp-time-picker>
					</div>
					<div class="col-xs-3">
						<span>No. of Retrials:</span>
						<input class="form-control" min="1" max="99"
							onKeyDown="if(this.value.length==2) return false;"
							ng-model="companyDTO.maxRetrial" type="number"
							id="example-number-input" style="width: 40%;">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3" style="margin-top: -20px;">
						<span>Company Status:</span><br>
						<div custom-select="stat for stat in stats |  filter: $searchTerm"
							custom-select-options="companystatusOptions" ng-change=""
							ng-model="companyDTO.status" autofocus></div>
					</div>
				</div>
				<br />
				<br />
				<div class="row">
					<div class="col-xs-5">
						<button type="button" class="btn btn-success"
							ng-click="updatecompany(companyDTO)">Update</button>
						<button type="reset" class="btn btn-success" ng-click="clear()">Clear</button>
						<a href="#masters" class="btn btn-success">Back</a>
					</div>
				</div>
				</md-content> </md-tab> <md-tab label="Report" md-on-select="onreportclick()"> <md-content
					class="md-padding">
				<div class="col-lg-8">
					<div class="bs-component">
						<!-- 					<div class="alert alert-info">
						<p>Sort key: {{sortKey}}</p>
						<p>Reverse: {{reverse}}</p>
						<p>Search String : {{search}}</p>
					</div> -->
						<form class="form-inline">
							<div class="form-group">
								<input type="text" ng-model="search" class="form-control"
									placeholder="Search">
							</div>
						</form>
						<div id="exportable">
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th ng-click="sort('id')">Sl.&nbsp;No.<span
											class="glyphicon sort-icon" ng-show="sortKey=='id'"
											ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
										</th>
										<th ng-click="sort('first_name')">Client&nbsp;Name<span
											class="glyphicon sort-icon" ng-show="sortKey=='first_name'"
											ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
										</th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th ng-click="sort('last_name')">Tally&nbsp;Company&nbsp;Name<span
											class="glyphicon sort-icon" ng-show="sortKey=='last_name'"
											ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
										</th>
										<th></th>
										<th></th>
										<th></th>
										<th ng-click="sort('hobby')">Sync&nbsp;Applicable&nbsp;Date<span
											class="glyphicon sort-icon" ng-show="sortKey=='hobby'"
											ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
										</th>
										<th ng-click="sort('hobby')">Upload&nbsp;Timer<span
											class="glyphicon sort-icon" ng-show="sortKey=='hobby'"
											ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
										</th>
										<th ng-click="sort('hobby')">Download&nbsp;Timer<span
											class="glyphicon sort-icon" ng-show="sortKey=='hobby'"
											ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
										</th>
										<th ng-click="sort('hobby')">Max&nbsp;Retrials<span
											class="glyphicon sort-icon" ng-show="sortKey=='hobby'"
											ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
										</th>
										<th ng-click="sort('hobby')">Status<span
											class="glyphicon sort-icon" ng-show="sortKey=='hobby'"
											ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr
										dir-paginate="comp in company|orderBy:sortKey:reverse|filter:search|itemsPerPage:5"
										current-page="currentPage">
										<td>{{itemsPerPage * (currentPage-1)+$index+1}}</td>
										<td colspan="5">{{comp.client.clientName}}</td>
										<td colspan="4">{{comp.tallyCmpName}}</td>
										<td style="width: 200px;"">{{comp.appFromDate}}</td>
										<td>{{comp.uploadTimer}}</td>
										<td>{{comp.dnldTimer}}</td>
										<td>{{comp.maxRetrial}}</td>
										<td>{{comp.status}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div id="exportableall" ng-hide="true">
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th ng-click="sort('id')">Sl.&nbsp;No.<span
											class="glyphicon sort-icon" ng-show="sortKey=='id'"
											ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
										</th>
										<th ng-click="sort('first_name')">Client&nbsp;Name<span
											class="glyphicon sort-icon" ng-show="sortKey=='first_name'"
											ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
										</th>
										<th ng-click="sort('last_name')">Tally&nbsp;Company&nbsp;Name<span
											class="glyphicon sort-icon" ng-show="sortKey=='last_name'"
											ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
										</th>
										<th ng-click="sort('hobby')">Sync&nbsp;Applicable&nbsp;Date<span
											class="glyphicon sort-icon" ng-show="sortKey=='hobby'"
											ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
										</th>
										<th ng-click="sort('hobby')">Upload&nbsp;Timer<span
											class="glyphicon sort-icon" ng-show="sortKey=='hobby'"
											ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
										</th>
										<th ng-click="sort('hobby')">Download&nbsp;Timer<span
											class="glyphicon sort-icon" ng-show="sortKey=='hobby'"
											ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
										</th>
										<th ng-click="sort('hobby')">Max&nbsp;Retrials<span
											class="glyphicon sort-icon" ng-show="sortKey=='hobby'"
											ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
										</th>
										<th ng-click="sort('hobby')">Status<span
											class="glyphicon sort-icon" ng-show="sortKey=='hobby'"
											ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="comp in company">
										<td>{{$index+1}}</td>
										<td>{{comp.clientId}}</td>
										<td>{{comp.tallyCmpName}}</td>
										<td style="width: 200px;"">{{comp.appFromDate}}</td>
										<td>{{comp.uploadTimer}}</td>
										<td>{{comp.dnldTimer}}</td>
										<td>{{comp.maxRetrial}}</td>
										<td>{{comp.status}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<dir-pagination-controls max-size="5" direction-links="true"
							boundary-links="true"> </dir-pagination-controls>
						<button style="margin-left: 50px; margin-bottom: 65px;"
							ng-click="exportData()" class="btn btn-success">Export</button>
						<a style="margin-bottom: 65px;" href="#masters"
							class="btn btn-success">Back</a>
					</div>
				</div>
				</md-content> </md-tab> </md-tabs> </md-content>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
</div>
