
<div class="dashboard-page">
	<div class="right" style="margin-left: 100px;">
		<div class="heading">
			<p style="text-align: center">
				<b>Company:</b> {{cmpname}}
			</p>
			<div class="text">Change Password</div>
		</div>
		<div class="cu-section">
			<div class="container-fluid">
				<div ng-class="'alert alert-' + (alerts.type || 'warning')"
					ng-show="showSuccessAlert">
					<button type="button" class="close"
						data-ng-click="switchBool('showSuccessAlert')">x</button>
					<strong>{{alerts.msg}}</strong>
				</div>
			</div>
			<div ng-class="'alert alert-' + (alerts.type || 'warning')"
				ng-show="showerror">
				<button type="button" class="close"
					data-ng-click="switchBool('showerror')">x</button>
				<ul>
					<strong><li ng-repeat="err in errdata">{{err}}</li></strong>
				</ul>
			</div>
			<div ng-cloak>
				<md-content> <md-tabs md-border-bottom
					style="min-height:405px;"> <md-tab label="Update"
					md-on-select="onchnagepasswordclick()"> <md-content
					class="md-padding">
				<div class="row">
					<div class="col-xs-4">
						<span>Current Password:</span>
						<input type="password" name="curr_password" id="curr_password"
							class="form-control" ng-model="currentpassword"
							placeholder="Current Password" required autofocus>
						<br>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<span>New Password:</span>
						<input type="Password" name="new_password" id="new_password"
							class="form-control" ng-model="newpassword"
							placeholder="New Password" required autofocus>
						<br>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<span>Confirm Password:</span>
						<input type="Password" name="confirm_pass" id="confirm_pass"
							ng-model="confirmpassword" class="form-control"
							placeholder="Confirm Password" required autofocus>
					</div>
				</div>
				<br>
				<br>
				<div class="row">
					<div class="col-xs-4">
						<button type="button" class="btn btn-success"
							ng-click="changepassword()">Change</button>
						<button type="button" class="btn btn-success" ng-click="clear()">Clear</button>
						<a href="#home" class="btn btn-success">Back</a>
					</div>
				</div>
				</md-content> </md-tab> </md-tabs> </md-content>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>