
<script type="text/javascript">
            $(document).ready(function () {
            	
                $('.submenu-button-open').click(function () {
                    $('.submenu-container').animate({
                        left: '0px'
                    }, 700);
                    $('body').css('overflow', 'hidden');
                });

                $('.submenu-button-close').click(function () {
                    $('.submenu-container').animate({
                        left: '-250px'
                    }, 700);
                    $('body').css('overflow', 'auto');
                });

            });
        </script>

<div class="dashboard-page">
	<div class="right" style="margin-left: 100px;">
		<div class="heading">
			<div class="path">Map PP Masters with Tally Masters</div>
			<div class="text">Mapping PP Masters to Tally Masters</div>
		</div>
		<div class="cu-section">
		
		<div class="row">
		<div class="col-xs-4">
		<label class="radio-inline"><input type="radio" name="change_screen" ng-model="mappp" value="Add" ng-checked="(mappp == Add)" ng-click="routedirect('Add')">Map PP Masters</label>
		<label class="radio-inline"><input type="radio" name="change_screen" ng-model="impexp_pp" value="Edit" ng-click="routedirect('Edit')">Import/Export PP Masters</label>							
		</div>
		</div>
		<br><br>
		
		<div id="add" ng-show="showadd">
			<div class="row">
				<div class="col-xs-4">
					<span>Select Client:</span> 
					 <div bs-dropdown 
					 bs-dropdown-items="clientnames"
					 ng-model="clientmodel"
					 bs-dropdown-item-disabled="{{[0]}}" 
					 bs-dropdown-display="Select Client Name"></div><br>
					<!-- <select class="selectpicker"
						id="client_select" name="client_select">
						<option selected disabled>Select Client</option>
						<option>Bizprout</option>
						<option>Tiramisu</option>
						<option>Perpetuity</option>
					</select> -->
				</div>
				<div class="col-xs-6">
					<span>Select Company:</span><br> 
					 <div bs-dropdown 
					 bs-dropdown-items="companylist"
					 ng-model="companymodel"
					 bs-dropdown-item-disabled="{{[0]}}" 
					 bs-dropdown-display="Select Company"></div><br>
					<!-- <select class="selectpicker"
						id="company_sel" name="company_sel">
						<option selected disabled>Select Company</option>
						<option>Bizprout_1</option>
						<option>Tiramisu_4</option>
						<option>Perpetuity_587</option>
					</select> -->
				</div>
			</div>

			<div class="row">
				<div class="col-xs-3">
					<span>Select Master Type:</span>
					<div bs-dropdown 
					 bs-dropdown-items="masteritems"
					 ng-model="mastermodel"
					 bs-dropdown-item-disabled="{{[0]}}" 
					 bs-dropdown-display="Select Master Type"></div><br>
					<!--  <select class="selectpicker"
						id="master_type" name="master_type">
						<option selected disabled>Select Master Type</option>
						<option>Ledgers</option>
						<option>Groups</option>
						<option>Cost Categories</option>
						<option>Cost Centers</option>
						<option>Voucher Types</option>
					</select> -->
				</div>

			</div>

			<div class="row">
				<div class="col-xs-4">
					<span>Select Tally Master Name:</span> <select class="selectpicker"
						id="tally_master_name" name="tally_master_name" multiple
						data-selected-text-format="count" data-actions-box="true"
						title="Select Tally Master Name">
						<option>Bizprout</option>
						<option>Tiramisu</option>
						<option>Perpetuity</option>
					</select>
				</div>
				<div class="col-xs-5">
					<span>Map to PP Master:</span><br> 
					<div bs-dropdown 
					 bs-dropdown-items="mapppitems"
					 ng-model="mapppmodel"
					 bs-dropdown-item-disabled="{{[0]}}" 
					 bs-dropdown-display="Map to PP Master"></div><br>
					<!-- <select	class="selectpicker" id="map_pp_master" name="map_pp_master">
						<option selected disabled>Map to PP Master</option>
						<option>Bizprout_1</option>
						<option>Tiramisu_4</option>
						<option>Perpetuity_587</option>
					</select> -->
				</div>
			</div>

			<br />
			<br />

			<div class="row">
				<div class="col-xs-5">
					<button type="button" class="btn btn-success">Map/ Edit</button>
					<button type="button" class="btn btn-success">Report</button>
					<button type="cancel" class="btn btn-success">Clear</button>
					<a href="#mapping" class="btn btn-success">Back</a>
				</div>
			</div>
			</div>
			
			<div id="edit" ng-show="showedit">
				 <div class="row">  
				 <div class="col-xs-3">
				  <div class="input-group" style="width:500px;">
				  <span class="input-group-btn">
				    <span class="btn btn-success" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
				    <input name="uploaded_file" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none;" type="file">
				  </span>
				  <span class="form-control"></span>
				</div>
				</div>
				</div>
				
				<br />
				<br />
				
				<div class="row">
				<div class="col-xs-5">
					<button type="button" class="btn btn-success">Import</button>
					<button type="button" class="btn btn-success">Export</button>
					<button type="button" class="btn btn-success">Clear</button>
					<a href="#mapping" class="btn btn-success">Back</a>
				</div>
			</div>
			</div>
			
		</div>
	</div>
</div>
<div class="clearfix"></div>
</div>

<script type="text/javascript">
var config = {
'.chosen-select': {},
'.chosen-select-deselect': {allow_single_deselect: true},
'.chosen-select-no-single': {disable_search_threshold: 10},
'.chosen-select-no-results': {no_results_text: 'Oops, nothing found!'},
'.chosen-select-width': {width: "95%"}
}
for (var selector in config) {
$(selector).chosen(config[selector]);
}
        </script>