<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>    <!-- com.mysql.jdbc.Driver -->
		<property name="hibernate.connection.url">jdbc:jtds:sqlserver://[43.224.136.65]:2499;DatabaseName=[TP_Dealer1]</property>		<!-- jdbc:mysql://192.168.3.99:3306/pptallydatabase -->
		<property name="hibernate.connection.username"></property>						<!-- epacc_hrms -->
		<property name="hibernate.connection.password"></property>						<!-- HTmNTVRqKqrBdVc6 -->
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		<mapping class="com.bizprout.web.api.common.BaseDTO" />
		<mapping class="com.bizprout.web.app.dto.LoginDTO" />
		<mapping class="com.bizprout.web.app.dto.UserDTO" />
		<mapping class="com.bizprout.web.app.dto.ClientDTO" />
		<mapping class="com.bizprout.web.app.dto.CompanyDTO" />
		<mapping class="com.bizprout.web.app.dto.PpMasterDTO" />
		<mapping class="com.bizprout.web.app.dto.TallyMappingDTO" />
		<mapping class="com.bizprout.web.app.dto.TallyMastersDTO" />
	</session-factory>
</hibernate-configuration>
