<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://192.168.3.99:3306/pptallydatabase</property>
		<property name="hibernate.connection.username">epacc_hrms</property>
		<property name="hibernate.connection.password">HTmNTVRqKqrBdVc6</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		<mapping class="com.bizprout.web.api.common.BaseDTO" />
		<mapping class="com.bizprout.web.app.dto.LoginDTO" />
		<mapping class="com.bizprout.web.app.dto.UserDTO" />
		<mapping class="com.bizprout.web.app.dto.CompanyDTO" />
	</session-factory>
</hibernate-configuration>
